body {
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.hyper-links.item {
    font-size: 40px;
    border-bottom: 10px dashed #1dbba6;
    border-left: 10px dashed #1dbba6;
    padding: 10px;
    margin: 40px 20px;
}
.hyper-links.list {
    margin-top: 10%;
    /* background-color: aqua; */
    padding: 30px 40px;
}